<template>
  <div id="app">
    <center>
      <h1>{{ calendarTitle }}</h1>
    </center>

    <Calendar
      :event-sources="eventSources"
      :user-timezone="userTimezone"
      @selectEvent="selectedEvent = $event"
      @finishedUpdatingEventSource="updatedEventSource = null"
    />

    <Legend
      :calendars="calendars"
      :user-timezone.sync="userTimezone"
      @toggleCalendarDisplay="toggleCalendarDisplay"
      @resetTimezone="setTimezone(defaultTimezone)"
      @setTimezone="setTimezone"
    />

    <EventDetails
      :show="!!selectedEvent"
      :event="selectedEvent"
      @close="selectedEvent = null"
    />
  </div>
</template>

<script>
import moment from 'moment-timezone'

import retrieveCalendarsFromApi from './lib/retrieveCalendarsFromApi'
import retrieveCalendarsManually from './lib/retrieveCalendarsManually'

import Calendar from './components/Calendar'
import EventDetails from './components/EventDetails'
import Legend from './components/Legend'

export default {
  name: 'App',
  components: {
    Calendar,
    EventDetails,
    Legend,
  },

  data: () => ({
    calendars: [],
    selectedEvent: null,
    defaultTimezone: moment.tz.guess(),
    userTimezone: moment.tz.guess(),
  }),

  computed: {
    calendarTitle () {
      return window.calendarTitle || 'My Calendar - Our Selected Event Feeds'
    },

    eventSources () {
      return this.calendars.filter(({ hidden }) => !hidden)
    },
  },

  watch: {
    userTimezone () {
      this.getCalendarData()
    },
  },

  created () {
    this.getCalendarData()
  },

  methods: {
    async getCalendarData () {
      if (window.icsFeeds && window.icsFeeds.length) {
        this.calendars = await retrieveCalendarsManually(window.icsFeeds)
      } else {
        const apiUrl = window.calendarApiUrl || 'http://localhost:3000/api/calendars'
        this.calendars = await retrieveCalendarsFromApi(apiUrl)
      }
    },

    setTimezone (timezone) {
      this.userTimezone = timezone
    },

    toggleCalendarDisplay (id) {
      const index = this.calendars.findIndex(calendar => calendar.id === id)
      if (index === -1) return

      this.calendars[index].hidden = !this.calendars[index].hidden
    },
  },
}
</script>

<style lang="scss">
#app {
  max-width: 90%;
  margin: 0 auto;
  padding: 20px 0;

  h1 {
    margin-bottom: 30px;
    padding: 5px 10px;

    background-color: whitesmoke;
    border: 1px solid lightgrey;
    border-radius: 10px;
    font-size: 1.3rem;
  }
}

</style>
