<template>
  <FullCalendar
    ref="calendar"
    :options="calendarOptions"
  />
</template>

<script>
import FullCalendar from '@fullcalendar/vue'

import bootstrapPlugin from '@fullcalendar/bootstrap'
import dayGridPlugin from '@fullcalendar/daygrid'
import listViewPlugin from '@fullcalendar/list'
import momentPlugin from '@fullcalendar/moment'
import momentTimezonePlugin from '@fullcalendar/moment-timezone'
import rrulePlugin from '@fullcalendar/rrule'
import timeGridPlugin from '@fullcalendar/timegrid'
import icalPlugin from '@/lib/icalendar-plugin/main'

export default {
  name: 'Calendar',
  components: {
    FullCalendar,
  },
  props: {
    eventSources: {
      type: Array,
      default: () => [],
    },
    userTimezone: {
      type: String,
      default: '',
    },
  },
  data () {
    return {
      calendarOptions: {
        plugins: [
          bootstrapPlugin,
          dayGridPlugin,
          listViewPlugin,
          momentPlugin,
          momentTimezonePlugin,
          rrulePlugin,
          timeGridPlugin,
          icalPlugin,
        ],

        themeSystem: 'bootstrap',
        eventSources: [],

        initialView: 'timeGridWeek',
        headerToolbar: {
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,timeGridDay,timeGridWeek listWeek listMonth',
        },
        buttonText: {
          listWeek: 'weekly list',
          listMonth: 'monthly list',
        },

        dayMaxEvents: true,
        editable: false,
        firstDay: 1,
        locale: 'en',
        navLinks: true,

        timeZone: this.userTimezone,

        eventClick: ({ event, jsEvent }) => {
          jsEvent.preventDefault()

          if (event.source.internalEventSource.extendedProps.showDetails) {
            this.$emit('selectEvent', event)
          }
        },

        eventDidMount: ({ el, event }) => {
          el.title = event.title
        },
      },
    }
  },

  watch: {
    userTimezone () {
      this.calendarOptions.timeZone = this.userTimezone
    },

    eventSources: {
      handler () {
        this.calendarOptions.eventSources = this.eventSources
      },
      deep: true,
    },
  },
}
</script>

<style lang="scss">
.fc {
  .fc-event {
    cursor: pointer;
  }
}
</style>
