<template>
  <div
    v-if="show"
    class="modal-wrapper"
    @click="$emit('close')"
  >
    <div
      class="modal-content"
      @click.stop
    >
      <div class="modal-header">
        <h5 class="modal-title">
          {{ event.title }}
        </h5>
        <button
          class="close"
          @click="$emit('close')"
        >
          <i class="fa fa-times" />
        </button>
      </div>
      <div class="modal-body">
        <a
          v-if="!!event.url"
          :href="event.url"
          target="_blank"
        >
          Link to event
        </a>
        <p>
          {{ event.extendedProps.description }}
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'EventDetails',
  props: {
    show: {
      type: Boolean,
      default: false,
    },
    event: {
      type: Object,
      default: () => ({}),
    },
  },

  watch: {
    show () {
      if (this.show) this.disablePageScrolling()
      else this.enablePageScrolling()
    },
  },

  methods: {
    disablePageScrolling () {
      document.body.style.position = 'fixed'
      document.body.style.top = `-${window.scrollY}px`
      document.body.style.left = 0
      document.body.style.right = 0
      document.body.style['padding-right'] = '15px'
    },

    enablePageScrolling () {
      const scrollY = document.body.style.top
      document.body.style.position = ''
      document.body.style.top = ''
      document.body.style.left = ''
      document.body.style.right = ''
      document.body.style['padding-right'] = ''
      window.scrollTo(0, parseInt(scrollY || '0') * -1)
    },
  },
}
</script>

<style lang="scss" scoped>
.modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  min-height: 200px;
  max-height: 60%;
  width: 600px;
  max-width: 90%;

  border: none;
  box-shadow: 0px 0px 20px 5px #00000044;
}

.modal-body {
  overflow-y: auto;

  p {
    white-space: pre-line;
  }
}

button.close {
  color: #666;

  &:focus {
    outline: none;
  }
}
</style>
