<template>
  <section>
    <p>
      Tip: to import the ics feeds to your calendar app, use the button next to a calendar to copy its URL feed into your clipboard.
    </p>

    <div class="input-group timezone-picker">
      <div class="input-group-prepend">
        <label
          class="input-group-text"
          for="selected-timezone"
        >View calendar in this timezone</label>
        <button
          class="btn btn-outline-primary"
          @click="$emit('resetTimezone'); $event.target.blur()"
        >
          Reset Timezone
        </button>
      </div>
      <select
        v-model="selectedTimezone"
        name="selected-timezone"
      >
        <option
          v-for="zone in timezones"
          :key="zone"
        >
          {{ zone }}
        </option>
      </select>
    </div>

    <div
      class="legend"
    >
      <template v-for="(calendar, index) in calendars">
        <div
          :key="calendar.url + '-inputs'"
          class="legend-item"
        >
          <span
            class="circle"
            :style="{
              'background-color': calendar.color
            }"
          />

          <div
            class="switch"
            @click="$emit('toggleCalendarDisplay', calendar.id)"
          >
            <input
              type="radio"
              :name="`show-${calendar.url}`"
              value="false"
              :checked="!calendar.hidden"
            >
            <label :for="`show-${calendar.url}`">show</label>

            <input
              type="radio"
              :name="`hide-${calendar.url}`"
              value="true"
              :checked="calendar.hidden"
            >
            <label :for="`hide-${calendar.url}`">hide</label>

            <span class="toggler" />
          </div>

          <button
            :id="`copy-link-${index}`"
            class="btn btn-sm btn-outline-primary"
            @click="copyToClipboard(calendar.url); $event.target.blur()"
          >
            <i
              class="fa fa-copy"
              alt="Copy URL To Clipboard"
              title="Copy URL to Clipboard"
            />
          </button>

          <span>{{ calendar.title }}</span>
        </div>

        <div
          v-if="calendar.tzid && calendar.tzoffset"
          :key="calendar.url + '-timezone'"
          class="legend-item timezone-label input-group"
        >
          <div class="input-group-prepend">
            <span class="input-group-text">
              Timezone:
              {{ calendar.tzid }}
            </span>
            <button
              class="btn btn-outline-primary"
              @click="$emit('setTimezone', calendar.tzid); $event.target.blur()"
            >
              Use this Timezone
            </button>
          </div>
        </div>
      </template>
    </div>
  </section>
</template>

<script>
import moment from 'moment-timezone'

export default {
  name: 'Legend',
  props: {
    calendars: {
      type: Array,
      default: () => [],
    },

    userTimezone: {
      type: String,
      default: '',
    },
  },

  data: () => ({
    selectedTimezone: '',
    timezones: [],
  }),

  watch: {
    userTimezone (newVal, oldVal) {
      if (newVal === oldVal) return

      this.selectedTimezone = this.userTimezone
    },

    selectedTimezone () {
      this.$emit('update:userTimezone', this.selectedTimezone)
    },
  },

  created () {
    this.timezones = moment.tz.names()
    this.selectedTimezone = this.userTimezone
  },

  methods: {
    copyToClipboard (text) {
      navigator.clipboard.writeText(text)
    },
  },
}
</script>

<style lang="scss" scoped>
section {
  margin-top: 10px;
  padding: 10px;

  border-radius: 3px;
  border: 2px solid LightSkyBlue;

  p {
    margin: 0;
  }
}

.legend {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  padding: 20px 10px;
}

.legend-item {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;

  margin: 5px 0;

  .circle {
    flex-shrink: 0;
    height: 10px;
    width: 10px;
    border-radius: 50%;
  }

  button {
    flex-shrink: 0;
    margin-right: 10px;
  }

  img {
    width: 15px;
  }
}

.switch {
  $height: 30px;
  $width: 120px;
  $borderRadius: 30px;
  $togglerAbsTop: 4px;
  $togglerAbsLeft: 5px;

  box-sizing: border-box;
  position: relative;

  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: stretch;

  height: $height;
  width: $width;
  margin: 0 10px;
  padding: 5px;

  background: white;
  border-radius: $borderRadius;
  border: solid 1px #DDDDDD;

  input {
    display: none;
  }

  label {
    flex-grow: 1;
    width: 50%;
    margin: 0;

    cursor: pointer;
    user-select: none;
    transition: color 0.2s cubic-bezier(0.4, 0.0, 0.2, 1);
    will-change: transform;
    z-index: 10;

    color: black;
    font-size: 12px;
    text-align: center;
  }

  .toggler {
    position: absolute;
    left: $togglerAbsLeft;
    top: $togglerAbsTop;

    height: calc(#{$height} - #{$togglerAbsTop * 2} - 2px);
    width: calc(50% - #{$togglerAbsLeft});

    cursor: pointer;
    transition: left 0.25s cubic-bezier(0.4, 0.0, 0.2, 1);
    will-change: transform;

    background-color: #3366CC;
    border-radius: $borderRadius;
  }

  input:checked + label {
    color: white;
  }

  input:not(:first-child):checked ~ .toggler {
    left: calc(#{$width / 2} - 1px);
  }
}

.timezone-picker {
  margin: 10px 0 0;
}

.timezone-label {
  margin: -2px 0 20px;
  label {
    font-weight: bold;
    margin: 0 20px 0 0;
  }
}
</style>
